img {
    display: block;
    margin: auto;
    width: 80%;
}
body {
    background: url(images/background.png) gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

