body {
    background: #f5ee9e;
    margin: 0px;
    padding: 0px
}

hr {
  margin:0px;
  margin-top: 5px;
  margin-bottom: 5px;
   border: 5px solid #74526C;
}

hr.hr-lite-thin {
  margin:0px;
  border: 3px solid #f5ee9e;
}

hr.hr-lite-thicc {
  margin:0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 8px solid #f5ee9e;
}

hr.fade {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, #f5ee9e00, #f5ee9e, #f5ee9e00);
}

h2 {
	text-align: center;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight:1;
}

h3 {
	font-size: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
}



p {
    font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	color: black;

}

.introline {
	font-weight:bold;
	color:#0066cc;
}

.darkheader {
	color:#0066cc;
}
.lightheader {
	color:white;
}


p.subtitle {
    color: white;
    font-size: 60px;
}



.titlesection {
    text-align:center;
    display: block;
    margin: auto;
	height: 128px;
	background: #74526C;
}

.centerer {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.titleimage {
	display:inline-block;
	vertical-align: middle;
	width: 768px;
	min-width: 350px;
	max-width: 1000px;
}

section {
	display:block;
	margin:100px;
}

.gametitle {
	display:block;
	background: #74526C;
	margin: 0px;
	padding: 20px;

}

.games {
	text-align:center;
	display:block;
	margin:0px;
	padding:0px;
}

.games div {
	text-align: left;
	display:inline-block;
	padding:20px;
	padding-left:50px;
	padding-right:50px;
	margin-bottom: 50px;
	height: 300px;
	min-width: 350px;


	background-position:center;
	background-size:auto;
}

.games h3, .games p {
	color:white;
	font-family: 'Open Sans Condensed';
}

.unfected {
	background-image: url("images/unfectedtitle.png");
}
.morlandia {
	background-image: url("images/morlandiatitle.png");
}
.morlandia2 {
	background-image: url("images/morlandia2title.png");
}

img.galleryimg {
    width: 900px;
    display: block;
    margin: auto;
    padding: 30px 0px;
}


@media (min-width: 980px) {
	.games div {
		width: 90%;
	}
}
@media (min-width: 1600px) {
	.games div {
		background-size: cover;
	}
}

}
