body {
    background: url(images/background.png) gray;
    margin: 8px;
    padding: 0px
}

p, h1, h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 30px;
}

div.frontpage {
    text-align:center;
    display: block;
    margin: auto;
    padding-top: 80px;
    width: 90%;
}

img.mainimg {
    width: 600px;
}

img.galleryimg {
    width: 900px;
    display: block;
    margin: auto;
    padding: 30px 0px;
}


nav {
    padding-bottom: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

li a.home {
    font-family: 'Jolly Lodger', cursive;
    font-size: 25px;
}

li a:hover {
    background-color: #111;
}

@media (max-width: 930px) {
img.galleryimg {
    width: 80%;
}
}
@media (max-width: 700px) {
img.mainimg {
    width: 400px;
}
}
@media (max-width: 520px) {
img.mainimg {
    width: 80%;
}
}



