body {
    background: white;
    margin: 0px 0px 150px 0px;
    padding: 0px;
}
.top {
    display: block;
    color: white;
	background-color: #4c70aa;
    text-align: left;
    padding: 14px 30px;
    

    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
}

a.home {
	text-decoration: none;
	color: white;
}

div.front {
	text-align: center;
}

img.front {
	display: inline-block;
	width: 70%;
	padding: 30px;
}

.main {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	margin: 30px;
}